@use 'sass:color';


/*

light_theme
primary button: #A0C7F3
danger button: #FC8398
success button: #A4F881
light yellow: #fffef0
darker yellow: #fffd8f
light blue: #f1f7ff
darker blue: #bed9f7
dark_theme
primary button: #7e9dbf
danger button: #FC8398
success button: #A4F881
light brown: #585843
darker brown: #333224
dark grey: #171816
darker grey: #111212

*/

// LIGHT MODE // 
$lightPrimary: #418de4;
$lightDanger: #d85a6f;
$lightSuccess: #49af1d;

$lightCardBorder: #adadaa;
$lightNavLinkSelected: #638dc5;

$lightAccordionBase: #e8e9e2;
$lightAccordionSelected: #adadaa;

$lightCardBg: #e8e9e2;
$lightHeadingColor: black;


// DARK MODE // 
$darkPrimary: #2a79d3;
$darkDanger: #eb6b80;
$darkSuccess: #33880f;

$darkCardBorder: #808080;
$darkNavLinkSelected: #638dc5;

$darkAccordionBase: #40413f;
$darkAccordionSelected: #808080;

$darkCardBg: #40413f;
$darkHeadingColor: rgb(222, 226, 230);

// Override light mode colors
:root {

    .btn {
        border: none;
    }

    a {
        font-weight: bold;
    }

}


:root {
    [data-bs-theme="light"] {

        $primaryHover: darken($lightPrimary, 10%);
        $primaryActive: darken($lightPrimary, 20%);
        $lightDangerHover: darken($lightDanger, 10%);
        $lightDangerActive: darken($lightSuccess, 15%);
        $lightSuccessHover: darken($lightSuccess, 10%);
        $lightSuccessActive: darken($lightSuccess, 15%);


        .btn-primary {
            --bs-btn-bg: #{$lightPrimary};
            --bs-btn-hover-bg: #{$primaryHover};
            --bs-btn-active-bg: #{$primaryActive};
        }

        .btn-success {
            --bs-btn-bg: #{$lightSuccess};
            --bs-btn-hover-bg: #{$lightSuccessHover};
            --bs-btn-active-bg: #{$lightSuccessActive};
            --bs-btn-disabled-bg: #{$lightSuccessActive}
        }

        .btn-danger {
            --bs-btn-bg: #{$lightDanger};
            --bs-btn-hover-bg: #{$lightDangerHover};
            --bs-btn-active-bg: #{$lightDangerActive};
        }

        .btn-outline-danger {
            border: #{$lightDanger} solid 1px;
            --bs-btn-color: #{$lightDanger};
            --bs-btn-hover: #{$lightDangerHover};
            --bs-btn-hover-bg: #{$lightDangerHover};
            --bs-btn-active-bg: #{$lightDangerActive};
            --bs-btn-bg: #{fade-out($lightDanger, 0.75)};
        }

        .parent-card {
            background-color: #adadaa;
        }

        .card {
            border-color: #{$lightCardBorder};
            --bs-card-bg: #{$lightCardBg};
        }

        .nav-link.active {
            color: #{$lightNavLinkSelected};
        }

        .nav-link {
            --bs-nav-link-hover-color: #{$lightPrimary};
        }

        .accordion {
            --bs-accordion-active-bg: #{$lightAccordionSelected};
            --bs-accordion-active-color: white;
            --bs-heading-color: white;
            --bs-accordion-bg: #{$lightAccordionBase};
        }

        .card-body {
            background-color: #{$lightCardBg};
        }

        --bs-heading-color: $lightHeadingColor;

    }
}

// Override dark mode colors
:root {
    [data-bs-theme="dark"] {

        $primary: $darkPrimary;
        $primaryHover: darken($darkPrimary, 10%);
        $primaryActive: darken($darkPrimary, 20%);
        $dangerHover: darken($darkDanger, 5%);
        $dangerActive: darken($darkDanger, 10%);
        $darkSuccessHover: darken($darkSuccess, 10%);
        $darkSuccessActive: darken($darkSuccess, 15%);

        .btn-primary {
            --bs-btn-bg: #{$primary};
            --bs-btn-hover-bg: #{$primaryHover};
            --bs-btn-active-bg: #{$primaryActive}
        }

        .btn-success {
            --bs-btn-bg: #{$darkSuccess};
            --bs-btn-hover-bg: #{$darkSuccessHover};
            --bs-btn-active-bg: #{$darkSuccessActive};
            --bs-btn-disabled-bg: #{$darkSuccessActive}
        }

        .btn-danger {
            --bs-btn-bg: #{$darkDanger};
            --bs-btn-hover-bg: #{$dangerHover};
            --bs-btn-active-bg: #{$dangerActive};
        }

        .btn-outline-danger {
            border: #{$darkDanger} solid 1px;
            --bs-btn-color: #{$darkDanger};
            --bs-btn-hover: #{$darkDanger};
            --bs-btn-hover-bg: #{$darkDanger};
            --bs-btn-hover-active: #{$dangerActive};
            --bs-btn-bg: #{fade-out($darkDanger, 0.75)};
        }

        .card {
            --bs-card-border-color: #{$darkCardBorder};
            --bs-card-bg: #{$darkCardBg};
        }

        .nav-link.active {
            color: #{$darkNavLinkSelected};
        }

        .nav-link {
            --bs-nav-link-hover-color: #{$darkPrimary};
        }

        .accordion {
            --bs-accordion-active-bg: #{$darkAccordionSelected};
            --bs-accordion-active-color: white !important;
            --bs-accordion-bg: #{$darkAccordionBase};
        }

        .card-body {
            background-color: #{$darkCardBg};
        }

        .rbt-token {
            background-color: $darkCardBg;
        }

        --bs-heading-color: $darkHeadingColor;
    }
}


@import "./bootstrap.min.css";